body {
font-family: Helvetica, Arial, sans-serif;
letter-spacing: -0.1em;
margin: 0;
padding: 0;
}
.weathertext  {
font-size: 70px;
font-weight: bold;
line-height: 1.1em;
}

#weatherpanel {
	padding: 0 30px;
}
.temp {
	font-size: 40px;
	font-weight: bold;
	height: 100px;
	position: relative;
	margin: 25px auto 0 auto;
}

.temp img {
	position: absolute;
	left: 0;
	top: 0;
}
.temptext {
	position: absolute;
	top: 30px;
	left: 100px;
}
strong {
	color: #a00;
}
h3 {
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 0;
}
.footnote {
	font-size: 30px;
	line-height: 100px;
	letter-spacing: 0;
}
.poweredby {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0;
}
#weather {
padding: 50px 20px 0 20px;
height: 1050px;
}
#fetching {
	position: relative;
	top: 500px;
	padding: 0 20px;
	text-align: center;
	font-size: 30px;
}

#loader {
    height: 720px;
    background: url(../img/loader.gif) no-repeat 50% 100px;
}
#menu {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
    width: 81px;
    height: 81px;
    background: url(../icons/star.png);
    background-position: right;
}
#menu.on {
    background-position: left;
}
#menu div {
	position: absolute;
	width: 81px;
	height: 81px;    
	-webkit-transform: translate3d(0px,0px,0px) scale(0);
	-webkit-transition: all 0.2s ease-out;
}
#menu #info {
    background: url(../icons/info.png);
}
#menu #share {
    background: url(../icons/share.png);
}
#menu #refresh {
    background: url(../icons/refresh.png);
}
#menu #bbm {
    background: url(../icons/bbm.png);
}
#menu.on div#info {
	-webkit-transform: translate3d(160px, -100px, 0px) scale(1);	
}
#menu.on div#bbm {
	-webkit-transform: translate3d(0, -180px, 0px) scale(1);
	background: url(../icons/bbm.png);	
}
#menu.on div#refresh {
	-webkit-transform: translate3d(180px, 0, 0px) scale(1);
	background: url(../icons/refresh.png);
}
#menu.on div#share {
	-webkit-transform: translate3d(100px, -160px, 0px) scale(1);
	background: url(../icons/share.png);	
}
#infoscreen, #bbmscreen {
	text-align: center;
	min-height: 1000px;
	font-size: 40px;
	padding: 0;
}

#bbmscreen ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: 1px #ccc solid;
	}
#bbmscreen li {
	padding: 30px 0 30px 30px;
	display: block;
	text-align: left;
	border-bottom: 1px #ccc solid;
	}
#returnbtn, #applink {
	padding: 30px 0 30px 30px;
	display: block;
	border-bottom: 1px #ccc solid;	
	border-top: 1px #ccc solid;	
}
#applink {
	padding-left: 60px;
	text-decoration: none;
	color: #000;
	text-align: left;
}
#returnbtn {
	border-top: none;
	text-align: left;
}
#applink img {
	position: absolute;
	margin-left: 20px;
	margin-top: -17px;
}
#infoscreen h1, #bbmscreen h1 {
	font-size: 70px;
}
#loc, #myweather {
	font-size: 30px;
}